@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace, Arial, Helvetica, sans-serif;
}

/* Custom Tailwind CSS Utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Font */
@font-face {
  font-family: "geist";
  src: url("/fonts/GeistVF.woff");
}

/* Smooth transitions */
html {
  scroll-behavior: smooth;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

