@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Google Fonts */


:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace, Arial, Helvetica, sans-serif;
}

/* Optional: If you need a specific class for Bebas Neue font */

/* Custom Tailwind CSS Utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Font */
@font-face {
  font-family: "geist";
  src: url("/fonts/GeistVF.woff");
}
